<a href="https://colab.research.google.com/github/Chris17cas/MyfirstGithub/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('name: ',' christian')
print('name:\t','christian')
print('name:\n','christian')
redondeo=round(3.20230,2)
print(redondeo)

name:   christian
name:	 christian
name:
 christian
3.2

In [5]:
#excersise 1
#aprosximate the number 15.4785612358
number=15.4785612358
initial_aprox=0
final_aprox=11
for i in range(initial_aprox,final_aprox):
  print("aproximate with ",i,"decimals ",round(number,i))

aproximate with  0 decimals  15.0
aproximate with  1 decimals  15.5
aproximate with  2 decimals  15.48
aproximate with  3 decimals  15.479
aproximate with  4 decimals  15.4786
aproximate with  5 decimals  15.47856
aproximate with  6 decimals  15.478561
aproximate with  7 decimals  15.4785612
aproximate with  8 decimals  15.47856124
aproximate with  9 decimals  15.478561236
aproximate with  10 decimals  15.4785612358

In [4]:
#excersise 2
#find and print 100 first multiples of 7
number=7
initial=0
final=101
for i in range(initial,final):
  print("multiples o 7 ",i," es ", i*number)

multiples o 7  0  es  0
multiples o 7  1  es  7
multiples o 7  2  es  14
multiples o 7  3  es  21
multiples o 7  4  es  28
multiples o 7  5  es  35
multiples o 7  6  es  42
multiples o 7  7  es  49
multiples o 7  8  es  56
multiples o 7  9  es  63
multiples o 7  10  es  70
multiples o 7  11  es  77
multiples o 7  12  es  84
multiples o 7  13  es  91
multiples o 7  14  es  98
multiples o 7  15  es  105
multiples o 7  16  es  112
multiples o 7  17  es  119
multiples o 7  18  es  126
multiples o 7  19  es  133
multiples o 7  20  es  140
multiples o 7  21  es  147
multiples o 7  22  es  154
multiples o 7  23  es  161
multiples o 7  24  es  168
multiples o 7  25  es  175
multiples o 7  26  es  182
multiples o 7  27  es  189
multiples o 7  28  es  196
multiples o 7  29  es  203
multiples o 7  30  es  210
multiples o 7  31  es  217
multiples o 7  32  es  224
multiples o 7  33  es  231
multiples o 7  34  es  238
multiples o 7  35  es  245
multiples o 7  36  es  252
multiples o 7  37  es  259
multiples o 7  38  es  266
multiples o 7  39  es  273
multiples o 7  40  es  280
multiples o 7  41  es  287
multiples o 7  42  es  294
multiples o 7  43  es  301
multiples o 7  44  es  308
multiples o 7  45  es  315
multiples o 7  46  es  322
multiples o 7  47  es  329
multiples o 7  48  es  336
multiples o 7  49  es  343
multiples o 7  50  es  350
multiples o 7  51  es  357
multiples o 7  52  es  364
multiples o 7  53  es  371
multiples o 7  54  es  378
multiples o 7  55  es  385
multiples o 7  56  es  392
multiples o 7  57  es  399
multiples o 7  58  es  406
multiples o 7  59  es  413
multiples o 7  60  es  420
multiples o 7  61  es  427
multiples o 7  62  es  434
multiples o 7  63  es  441
multiples o 7  64  es  448
multiples o 7  65  es  455
multiples o 7  66  es  462
multiples o 7  67  es  469
multiples o 7  68  es  476
multiples o 7  69  es  483
multiples o 7  70  es  490
multiples o 7  71  es  497
multiples o 7  72  es  504
multiples o 7  73  es  511
multiples o 7  74  es  518
multiples o 7  75  es  525
multiples o 7  76  es  532
multiples o 7  77  es  539
multiples o 7  78  es  546
multiples o 7  79  es  553
multiples o 7  80  es  560
multiples o 7  81  es  567
multiples o 7  82  es  574
multiples o 7  83  es  581
multiples o 7  84  es  588
multiples o 7  85  es  595
multiples o 7  86  es  602
multiples o 7  87  es  609
multiples o 7  88  es  616
multiples o 7  89  es  623
multiples o 7  90  es  630
multiples o 7  91  es  637
multiples o 7  92  es  644
multiples o 7  93  es  651
multiples o 7  94  es  658
multiples o 7  95  es  665
multiples o 7  96  es  672
multiples o 7  97  es  679
multiples o 7  98  es  686
multiples o 7  99  es  693
multiples o 7  100  es  700

In [ ]:
for i in range(1,20,3):
  print(i)
print('************************************')
numero=15.4795612358
redondeo1=round(numero,1)
redondeo2=round(numero,2)
redondeo3='{:.3f}'.format(numero)
redondeo6='{:.6f}'.format(numero)
redondeo4=round(numero,4)
print(redondeo1)
print(redondeo2)
print(redondeo3)
print(redondeo4)
float_number=float(redondeo6)

for i in range(0,11):
  redondeo=round(numero,i)
  print('aproximation ',redondeo)


print('************************************')

#EXCERCISE 2
# find and print the 100 first multiples of 7

for i in range(0,101):

  multiplos=7*i
  print('this are the first 100 multiples of 7 ',{i},'  ',multiplos)

1
4
7
10
13
16
19
************************************
15.5
15.48
15.480
15.4796
aproximation  15.0
aproximation  15.5
aproximation  15.48
aproximation  15.48
aproximation  15.4796
aproximation  15.47956
aproximation  15.479561
aproximation  15.4795612
aproximation  15.47956124
aproximation  15.479561236
aproximation  15.4795612358
************************************
this are the first 100 multiples of 7  {0}    0
this are the first 100 multiples of 7  {1}    7
this are the first 100 multiples of 7  {2}    14
this are the first 100 multiples of 7  {3}    21
this are the first 100 multiples of 7  {4}    28
this are the first 100 multiples of 7  {5}    35
this are the first 100 multiples of 7  {6}    42
this are the first 100 multiples of 7  {7}    49
this are the first 100 multiples of 7  {8}    56
this are the first 100 multiples of 7  {9}    63
this are the first 100 multiples of 7  {10}    70
this are the first 100 multiples of 7  {11}    77
this are the first 100 multiples of 7  {12}    84
this are the first 100 multiples of 7  {13}    91
this are the first 100 multiples of 7  {14}    98
this are the first 100 multiples of 7  {15}    105
this are the first 100 multiples of 7  {16}    112
this are the first 100 multiples of 7  {17}    119
this are the first 100 multiples of 7  {18}    126
this are the first 100 multiples of 7  {19}    133
this are the first 100 multiples of 7  {20}    140
this are the first 100 multiples of 7  {21}    147
this are the first 100 multiples of 7  {22}    154
this are the first 100 multiples of 7  {23}    161
this are the first 100 multiples of 7  {24}    168
this are the first 100 multiples of 7  {25}    175
this are the first 100 multiples of 7  {26}    182
this are the first 100 multiples of 7  {27}    189
this are the first 100 multiples of 7  {28}    196
this are the first 100 multiples of 7  {29}    203
this are the first 100 multiples of 7  {30}    210
this are the first 100 multiples of 7  {31}    217
this are the first 100 multiples of 7  {32}    224
this are the first 100 multiples of 7  {33}    231
this are the first 100 multiples of 7  {34}    238
this are the first 100 multiples of 7  {35}    245
this are the first 100 multiples of 7  {36}    252
this are the first 100 multiples of 7  {37}    259
this are the first 100 multiples of 7  {38}    266
this are the first 100 multiples of 7  {39}    273
this are the first 100 multiples of 7  {40}    280
this are the first 100 multiples of 7  {41}    287
this are the first 100 multiples of 7  {42}    294
this are the first 100 multiples of 7  {43}    301
this are the first 100 multiples of 7  {44}    308
this are the first 100 multiples of 7  {45}    315
this are the first 100 multiples of 7  {46}    322
this are the first 100 multiples of 7  {47}    329
this are the first 100 multiples of 7  {48}    336
this are the first 100 multiples of 7  {49}    343
this are the first 100 multiples of 7  {50}    350
this are the first 100 multiples of 7  {51}    357
this are the first 100 multiples of 7  {52}    364
this are the first 100 multiples of 7  {53}    371
this are the first 100 multiples of 7  {54}    378
this are the first 100 multiples of 7  {55}    385
this are the first 100 multiples of 7  {56}    392
this are the first 100 multiples of 7  {57}    399
this are the first 100 multiples of 7  {58}    406
this are the first 100 multiples of 7  {59}    413
this are the first 100 multiples of 7  {60}    420
this are the first 100 multiples of 7  {61}    427
this are the first 100 multiples of 7  {62}    434
this are the first 100 multiples of 7  {63}    441
this are the first 100 multiples of 7  {64}    448
this are the first 100 multiples of 7  {65}    455
this are the first 100 multiples of 7  {66}    462
this are the first 100 multiples of 7  {67}    469
this are the first 100 multiples of 7  {68}    476
this are the first 100 multiples of 7  {69}    483
this are the first 100 multiples of 7  {70}    490
this are the first 100 multiples of 7  {71}    497
this are the first 100 multiples of 7  {72}    504
this are the first 100 multiples of 7  {73}    511
this are the first 100 multiples of 7  {74}    518
this are the first 100 multiples of 7  {75}    525
this are the first 100 multiples of 7  {76}    532
this are the first 100 multiples of 7  {77}    539
this are the first 100 multiples of 7  {78}    546
this are the first 100 multiples of 7  {79}    553
this are the first 100 multiples of 7  {80}    560
this are the first 100 multiples of 7  {81}    567
this are the first 100 multiples of 7  {82}    574
this are the first 100 multiples of 7  {83}    581
this are the first 100 multiples of 7  {84}    588
this are the first 100 multiples of 7  {85}    595
this are the first 100 multiples of 7  {86}    602
this are the first 100 multiples of 7  {87}    609
this are the first 100 multiples of 7  {88}    616
this are the first 100 multiples of 7  {89}    623
this are the first 100 multiples of 7  {90}    630
this are the first 100 multiples of 7  {91}    637
this are the first 100 multiples of 7  {92}    644
this are the first 100 multiples of 7  {93}    651
this are the first 100 multiples of 7  {94}    658
this are the first 100 multiples of 7  {95}    665
this are the first 100 multiples of 7  {96}    672
this are the first 100 multiples of 7  {97}    679
this are the first 100 multiples of 7  {98}    686
this are the first 100 multiples of 7  {99}    693
this are the first 100 multiples of 7  {100}    700
table 3: {0} * 3 0
table 3: {1} * 3 3
table 3: {2} * 3 6
table 3: {3} * 3 9
table 3: {4} * 3 12
table 3: {5} * 3 15
table 3: {6} * 3 18
table 3: {7} * 3 21
table 3: {8} * 3 24
table 3: {9} * 3 27

In [6]:
#excersise 3
#calculate and print the multiplication table for numbers 3,4,5,6 up to 9
initial_table=3
final_table=7
initial=1
final=19
for i in range(initial_table,final_table):
  print('multiplication table',i)
  for j in range(initial,final):
    print(j,'*',i,'=',j*i)

multiplication table 3
1 * 3 = 3
2 * 3 = 6
3 * 3 = 9
4 * 3 = 12
5 * 3 = 15
6 * 3 = 18
7 * 3 = 21
8 * 3 = 24
9 * 3 = 27
10 * 3 = 30
11 * 3 = 33
12 * 3 = 36
13 * 3 = 39
14 * 3 = 42
15 * 3 = 45
16 * 3 = 48
17 * 3 = 51
18 * 3 = 54
multiplication table 4
1 * 4 = 4
2 * 4 = 8
3 * 4 = 12
4 * 4 = 16
5 * 4 = 20
6 * 4 = 24
7 * 4 = 28
8 * 4 = 32
9 * 4 = 36
10 * 4 = 40
11 * 4 = 44
12 * 4 = 48
13 * 4 = 52
14 * 4 = 56
15 * 4 = 60
16 * 4 = 64
17 * 4 = 68
18 * 4 = 72
multiplication table 5
1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50
11 * 5 = 55
12 * 5 = 60
13 * 5 = 65
14 * 5 = 70
15 * 5 = 75
16 * 5 = 80
17 * 5 = 85
18 * 5 = 90
multiplication table 6
1 * 6 = 6
2 * 6 = 12
3 * 6 = 18
4 * 6 = 24
5 * 6 = 30
6 * 6 = 36
7 * 6 = 42
8 * 6 = 48
9 * 6 = 54
10 * 6 = 60
11 * 6 = 66
12 * 6 = 72
13 * 6 = 78
14 * 6 = 84
15 * 6 = 90
16 * 6 = 96
17 * 6 = 102
18 * 6 = 108

**naming**

In [ ]:
#best practices

# **5.data types**

In [15]:
  w=1

In [21]:
w+=1
print(w)

7

#5.1 **booleans**

In [22]:
a=True
print(type(a))

<class 'bool'>

#**boolean expression**#

In [34]:
#practice
#create the necessary code to evaluate the expression
#x*y > x+y
#for numbers ranging from 1 to 6


for x in range(1,7):
  for y in range(1,7):
    print(x,'*',y,'>',x,'+',y)
    if (x*y)>(x+y):
      print("la expresion es true")
    else:
      print("la expresion es false")

1 * 1 > 1 + 1
la expresion es false
1 * 2 > 1 + 2
la expresion es false
1 * 3 > 1 + 3
la expresion es false
1 * 4 > 1 + 4
la expresion es false
1 * 5 > 1 + 5
la expresion es false
1 * 6 > 1 + 6
la expresion es false
2 * 1 > 2 + 1
la expresion es false
2 * 2 > 2 + 2
la expresion es false
2 * 3 > 2 + 3
la expresion es true
2 * 4 > 2 + 4
la expresion es true
2 * 5 > 2 + 5
la expresion es true
2 * 6 > 2 + 6
la expresion es true
3 * 1 > 3 + 1
la expresion es false
3 * 2 > 3 + 2
la expresion es true
3 * 3 > 3 + 3
la expresion es true
3 * 4 > 3 + 4
la expresion es true
3 * 5 > 3 + 5
la expresion es true
3 * 6 > 3 + 6
la expresion es true
4 * 1 > 4 + 1
la expresion es false
4 * 2 > 4 + 2
la expresion es true
4 * 3 > 4 + 3
la expresion es true
4 * 4 > 4 + 4
la expresion es true
4 * 5 > 4 + 5
la expresion es true
4 * 6 > 4 + 6
la expresion es true
5 * 1 > 5 + 1
la expresion es false
5 * 2 > 5 + 2
la expresion es true
5 * 3 > 5 + 3
la expresion es true
5 * 4 > 5 + 4
la expresion es true
5 * 5 > 5 + 5
la expresion es true
5 * 6 > 5 + 6
la expresion es true
6 * 1 > 6 + 1
la expresion es false
6 * 2 > 6 + 2
la expresion es true
6 * 3 > 6 + 3
la expresion es true
6 * 4 > 6 + 4
la expresion es true
6 * 5 > 6 + 5
la expresion es true
6 * 6 > 6 + 6
la expresion es true