<a href="https://colab.research.google.com/github/Chris17cas/MyfirstGithub/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
print('name: ',' christian')
print('name:\t','christian')
print('name:\n','christian')
redondeo=round(3.20230,2)
print(redondeo)

name:   christian
name:	 christian
name:
 christian
3.2

In [33]:
for i in range(1,20,3):
  print(i)
print('************************************')
numero=15.4795612358
redondeo1=round(numero,1)
redondeo2=round(numero,2)
redondeo3='{:.3f}'.format(numero)
redondeo6='{:.6f}'.format(numero)
redondeo4=round(numero,4)
print(redondeo1)
print(redondeo2)
print(redondeo3)
print(redondeo4)
float_number=float(redondeo6)

for i in range(0,11):
  redondeo=round(numero,i)
  print('aproximation ',redondeo)


print('************************************')

#EXCERCISE 2
# find and print the 100 first multiples of 7

for i in range(0,101):

  multiplos=7*i
  print('this are the first 100 multiples of 7 ',{i},'  ',multiplos)

1
4
7
10
13
16
19
************************************
15.5
15.48
15.480
15.4796
aproximation  15.0
aproximation  15.5
aproximation  15.48
aproximation  15.48
aproximation  15.4796
aproximation  15.47956
aproximation  15.479561
aproximation  15.4795612
aproximation  15.47956124
aproximation  15.479561236
aproximation  15.4795612358
************************************
this are the first 100 multiples of 7  {0}    0
this are the first 100 multiples of 7  {1}    7
this are the first 100 multiples of 7  {2}    14
this are the first 100 multiples of 7  {3}    21
this are the first 100 multiples of 7  {4}    28
this are the first 100 multiples of 7  {5}    35
this are the first 100 multiples of 7  {6}    42
this are the first 100 multiples of 7  {7}    49
this are the first 100 multiples of 7  {8}    56
this are the first 100 multiples of 7  {9}    63
this are the first 100 multiples of 7  {10}    70
this are the first 100 multiples of 7  {11}    77
this are the first 100 multiples of 7  {12}    84
this are the first 100 multiples of 7  {13}    91
this are the first 100 multiples of 7  {14}    98
this are the first 100 multiples of 7  {15}    105
this are the first 100 multiples of 7  {16}    112
this are the first 100 multiples of 7  {17}    119
this are the first 100 multiples of 7  {18}    126
this are the first 100 multiples of 7  {19}    133
this are the first 100 multiples of 7  {20}    140
this are the first 100 multiples of 7  {21}    147
this are the first 100 multiples of 7  {22}    154
this are the first 100 multiples of 7  {23}    161
this are the first 100 multiples of 7  {24}    168
this are the first 100 multiples of 7  {25}    175
this are the first 100 multiples of 7  {26}    182
this are the first 100 multiples of 7  {27}    189
this are the first 100 multiples of 7  {28}    196
this are the first 100 multiples of 7  {29}    203
this are the first 100 multiples of 7  {30}    210
this are the first 100 multiples of 7  {31}    217
this are the first 100 multiples of 7  {32}    224
this are the first 100 multiples of 7  {33}    231
this are the first 100 multiples of 7  {34}    238
this are the first 100 multiples of 7  {35}    245
this are the first 100 multiples of 7  {36}    252
this are the first 100 multiples of 7  {37}    259
this are the first 100 multiples of 7  {38}    266
this are the first 100 multiples of 7  {39}    273
this are the first 100 multiples of 7  {40}    280
this are the first 100 multiples of 7  {41}    287
this are the first 100 multiples of 7  {42}    294
this are the first 100 multiples of 7  {43}    301
this are the first 100 multiples of 7  {44}    308
this are the first 100 multiples of 7  {45}    315
this are the first 100 multiples of 7  {46}    322
this are the first 100 multiples of 7  {47}    329
this are the first 100 multiples of 7  {48}    336
this are the first 100 multiples of 7  {49}    343
this are the first 100 multiples of 7  {50}    350
this are the first 100 multiples of 7  {51}    357
this are the first 100 multiples of 7  {52}    364
this are the first 100 multiples of 7  {53}    371
this are the first 100 multiples of 7  {54}    378
this are the first 100 multiples of 7  {55}    385
this are the first 100 multiples of 7  {56}    392
this are the first 100 multiples of 7  {57}    399
this are the first 100 multiples of 7  {58}    406
this are the first 100 multiples of 7  {59}    413
this are the first 100 multiples of 7  {60}    420
this are the first 100 multiples of 7  {61}    427
this are the first 100 multiples of 7  {62}    434
this are the first 100 multiples of 7  {63}    441
this are the first 100 multiples of 7  {64}    448
this are the first 100 multiples of 7  {65}    455
this are the first 100 multiples of 7  {66}    462
this are the first 100 multiples of 7  {67}    469
this are the first 100 multiples of 7  {68}    476
this are the first 100 multiples of 7  {69}    483
this are the first 100 multiples of 7  {70}    490
this are the first 100 multiples of 7  {71}    497
this are the first 100 multiples of 7  {72}    504
this are the first 100 multiples of 7  {73}    511
this are the first 100 multiples of 7  {74}    518
this are the first 100 multiples of 7  {75}    525
this are the first 100 multiples of 7  {76}    532
this are the first 100 multiples of 7  {77}    539
this are the first 100 multiples of 7  {78}    546
this are the first 100 multiples of 7  {79}    553
this are the first 100 multiples of 7  {80}    560
this are the first 100 multiples of 7  {81}    567
this are the first 100 multiples of 7  {82}    574
this are the first 100 multiples of 7  {83}    581
this are the first 100 multiples of 7  {84}    588
this are the first 100 multiples of 7  {85}    595
this are the first 100 multiples of 7  {86}    602
this are the first 100 multiples of 7  {87}    609
this are the first 100 multiples of 7  {88}    616
this are the first 100 multiples of 7  {89}    623
this are the first 100 multiples of 7  {90}    630
this are the first 100 multiples of 7  {91}    637
this are the first 100 multiples of 7  {92}    644
this are the first 100 multiples of 7  {93}    651
this are the first 100 multiples of 7  {94}    658
this are the first 100 multiples of 7  {95}    665
this are the first 100 multiples of 7  {96}    672
this are the first 100 multiples of 7  {97}    679
this are the first 100 multiples of 7  {98}    686
this are the first 100 multiples of 7  {99}    693
this are the first 100 multiples of 7  {100}    700
table 3: {0} * 3 0
table 3: {1} * 3 3
table 3: {2} * 3 6
table 3: {3} * 3 9
table 3: {4} * 3 12
table 3: {5} * 3 15
table 3: {6} * 3 18
table 3: {7} * 3 21
table 3: {8} * 3 24
table 3: {9} * 3 27

In [45]:
#excersise 3
#calculate and print the multiplication table for numbers 3,4,5,6 up to 9

for i in range(3,7):
  print('multiplication table',i)
  for j in range(1,10):
    print(j,'*',i,'=',j*i)

multiplication table 3
1 * 3 = 3
2 * 3 = 6
3 * 3 = 9
4 * 3 = 12
5 * 3 = 15
6 * 3 = 18
7 * 3 = 21
8 * 3 = 24
9 * 3 = 27
multiplication table 4
1 * 4 = 4
2 * 4 = 8
3 * 4 = 12
4 * 4 = 16
5 * 4 = 20
6 * 4 = 24
7 * 4 = 28
8 * 4 = 32
9 * 4 = 36
multiplication table 5
1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
multiplication table 6
1 * 6 = 6
2 * 6 = 12
3 * 6 = 18
4 * 6 = 24
5 * 6 = 30
6 * 6 = 36
7 * 6 = 42
8 * 6 = 48
9 * 6 = 54